{% extends 'layout/base.html' %}

{% block content %}
    <table class="table mt-3">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Slug</th>
                <th scope="col">Description</th>
                <th scope="col">Image Name</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
    </table>
    <a href="{% url '' %}" class="btn btn-secondary">Ajouter nouvelle plante</a>
{% endblock %}