{% extends 'layout/base.html' %}

{% block title %}
    Admin - Login
{% endblock %}

{% block content %}
    <h1>Administration</h1>

    {% if user.is_authenticated %}
        {% include 'admin/form_login.html' %}
    {% else %}
        <table class="table mt-3">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Model</th>
                <th scope="col">Number</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Plant</td>
                <td>10</td>
                <td>
                    <a href="{% url 'admin:plants' %}" class="btn btn-primary">Voir</a>
                </td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Category</td>
                <td>5</td>
                <td>
                    <a href="{% url 'admin:categories' %}" class="btn btn-primary">Voir</a>
                </td>
            </tr>
            </tbody>
        </table>
    {% endif %}
{% endblock %}