{% extends 'layout/base.html' %}

{% block content %}
    <div class="container py-5" style="padding-top: 6rem !important;">
        <h2 class="pb-2 pt-4 border-bottom">Vos plantes favoris</h2>

        {% if plants_favorite.count != 0 %}
            <div class="my-3 p-3 bg-body rounded-shadow-sm">
                <h6 class="border-bottom pb-2 mb-0">Favoris</h6>
                <div class="d-flex text-muted pt-3">
                    <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32"
                         xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32"
                         preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#007bff"></rect>
                        <text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text>
                    </svg>

                    <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                        <div class="d-flex justify-content-between">
                            <strong class="text-gray-dark">Full Name</strong>
                            <a href="#">Follow</a>
                        </div>
                        <span class="d-block">@username</span>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="bg-light p-5 mt-5 rounded">
                <h1>Aucun favoris !</h1>
                <p class="lead">Vous n'avez aucunes plants dans favoris pour le moment, pour y remédier veuillez à la
                    page
                    ci dessous pour en ajouter. :D</p>
                <a class="btn btn-primary" href="{% url 'plant:plants.index' %}">Plants »</a>
            </div>
        {% endif %}
    </div>
{% endblock %}