{% extends 'layout/base.html' %}

{% load static %}

{% block content %}
    <div class="container py-5" style="padding-top: 6rem !important;">
        <h2 class="pb-2 pt-4 border-bottom">Vos plantes favoris</h2>

        {% if plants_favorite.count != 0 %}
            <div class="my-3 p-3 bg-body rounded-shadow-sm">
                <h6 class="border-bottom pb-2 mb-0">Favoris</h6>
                {% for plant_favorite in plants_favorite %}
                    <div class="d-flex text-muted pt-3">
                        <img src="{% static plant_favorite.plant.image.image %}" alt="{{ plant_favorite.plant.slug }}"
                             class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32">

                        <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                            <div class="d-flex justify-content-between">
                                <strong class="text-gray-dark">{{ plant_favorite.plant.title }}</strong>
                                <a href="{% url 'plant:favorite_plant.delete' username=user.username plant_slug=plant_favorite.plant.slug %}"
                                   class="btn btn-sm btn-danger">Supprimer</a>
                            </div>
                            <span class="d-block">{{ plant_favorite.plant.description }}</span>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="bg-light p-5 mt-5 rounded">
                <h1>Aucun favoris !</h1>
                <p class="lead">Vous n'avez aucunes plants dans favoris pour le moment, pour y remédier veuillez à la
                    page
                    ci dessous pour en ajouter. :D</p>
                <a class="btn btn-primary" href="{% url 'plant:plants.index' %}">Plants »</a>
            </div>
        {% endif %}
    </div>
{% endblock %}