<form action="#" method="POST">
    {% csrf_token %}
    <div class="form-group {% if form.errors.title %} has-validation {% endif %} mb-2">
        <label for="{{ form.title.id_for_label }}" class="mb-1">Title</label>
        {{ form.title }}
        {% if form.errors.title %}
            <div class="invalid-feedback">
                {{ form.errors.slug }}
            </div>
        {% endif %}
    </div>
    <div class="form-group {% if form.errors.slug %} has-validation {% endif %} mb-2">
        <label for="{{ form.slug.id_for_label }}" class="mb-1">Slug</label>
        {{ form.slug }}
        {% if form.errors.slug %}
            <div class="invalid-feedback">
                {{ form.errors.slug }}
            </div>
        {% endif %}
    </div>
 <div class="form-group {% if form.errors.description %} has-validation {% endif %} mb-2">
        <label for="{{ form.description.id_for_label }}" class="mb-1">Description</label>
        {{ form.description }}
        {% if form.errors.description %}
            <div class="invalid-feedback">
                {{ form.errors.description }}
            </div>
        {% endif %}
    </div>
    <button class="btn btn-primary" type="submit">Envoyer</button>
</form>