<form action="#" method="POST" class="pt-3">
    {% csrf_token %}
    <div class="mb-3">
        <div class="form-group {% if form.errors.username %} has-validation {% endif %} mb-2">
            <label for="{{ form.username.id_for_label }}" class="mb-1">Username</label>
            {{ form.username }}
            {% if form.errors.username %}
                <div class="invalid-feedback">
                    {{ form.errors.username }}
                </div>
            {% endif %}
        </div>
    </div>
    <div class="mb-3">
        <div class="form-group {% if form.errors.password %} has-validation {% endif %} mb-2">
            <label for="{{ form.password.id_for_label }}" class="mb-1">Mot de passe</label>
            {{ form.password }}
            {% if form.errors.password %}
                <div class="invalid-feedback">
                    {{ form.errors.password }}
                </div>
            {% endif %}
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>