<h3>Filter</h3>
<form action="#" method="POST" class="mt-4">
    <div class="mb-3">
        <label for="search_plant" class="form-label">Chercher une plante</label>
        <input type="search_plant" class="form-control" id="search_plant" placeholder="Chercher une plante...">
    </div>
    <div class="row">
        <div class="mb-3 col-md-4">
            <label for="search_category" class="form-label">Chercher une catégorie</label>
            <select name="search_category" id="search_category" class="form-control">
                <option value="1">Vivace</option>
                <option value="1">Vivace</option>
                <option value="1">Vivace</option>
                <option value="1">Vivace</option>
                <option value="1">Vivace</option>
            </select>
        </div>
        <div class="mb-3 col-md-4">
            <label for="search_category" class="form-label">Chercher une catégorie</label>
            <select name="search_category" id="search_category" class="form-control">
                <option value="1">Vivace</option>
                <option value="1">Vivace</option>
                <option value="1">Vivace</option>
                <option value="1">Vivace</option>
                <option value="1">Vivace</option>
            </select>
        </div>
        <div class="mb-3 col-md-4">
            <label for="search_category" class="form-label">Chercher une catégorie</label>
            <select name="search_category" id="search_category" class="form-control">
                <option value="1">Vivace</option>
                <option value="1">Vivace</option>
                <option value="1">Vivace</option>
                <option value="1">Vivace</option>
                <option value="1">Vivace</option>
            </select>
        </div>
    </div>
</form>
