{% load static %}

<div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
    {% for page in pagePlant %}
        <div class="col-md-4 col-lg-4">
            <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
                 style="background-image: url('{% static page.image.image %}');">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">{{ page.title }}</h2>
                    <ul class="d-flex list-unstyled mt-auto">
                        <li class="me-auto">
                            <a href="{% url 'plant:favorite_plant.add' user.username page.slug %}"
                               class="btn btn-primary">Ajouter au favoris</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<!-- PLANTS PAGINATION -->
{% include 'plant/components/pagination.html' %}